{:profiles {:goku {:default true,
                   :alone 80,
                   :held 50,
                   :delay 0,
                   :sim 30}},
 :templates {:alfred "osascript -e 'tell application \"Alfred 4\" to run trigger \"%s\" in workflow \"%s\" with argument \"%s\"'",
             :km "osascript -e 'tell application \"Keyboard Maestro Engine\" to do script \"%s\"'",
             :swinsian "osascript -e 'tell application \"Swinsian\" to %s'",
             :open "open \"%s\""},
 :simlayers {:tilde-mode {:key :grave_accent_and_tilde},
             :e-mode {:key :e},
             :m-mode {:key :m},
             :i-mode {:key :i},
             :4-mode {:key :4},
             :w-mode {:key :w},
             :v-mode {:key :v},
             :rust-mode {:key :period, :condi ["in-rust" 1]},
             :comma-mode {:key :comma},
             :dot-mode {:key :period},
             :d-mode {:key :d},
             :g-mode {:key :g},
             :2-mode {:key :2},
             :c-mode {:key :c},
             :3-mode {:key :3},
             :js-mode {:key :period, :condi ["in-js" 1]},
             :a-mode {:key :a},
             :caps-mode {:key :caps_lock},
             :tab-mode {:key :tab},
             :elixir-mode {:key :period, :condi ["in-elixir" 1]},
             :py-mode {:key :period, :condi ["in-python" 1]},
             :q-mode {:key :q},
             :swift-mode {:key :period, :condi ["in-swift" 1]},
             :r-mode {:key :r},
             :t-mode {:key :t},
             :semicolon-mode {:key :semicolon},
             :z-mode {:key :z},
             :b-mode {:key :b},
             :s-mode {:key :s},
             :f-mode {:key :f},
             :o-mode {:key :o},
             :n-mode {:key :n},
             :go-mode {:key :period, :condi ["in-go" 1]},
             :spacebar-mode {:key :spacebar},
             :x-mode {:key :x}},
 :main [{:des "w key (apps)",
         :rules [:w-mode
                 [:e [:km "open: Sublime text"]]
                 [:k [:km "open: Safari"]]
                 [:m :volume_increment]]}
        {:des "v key (media)",
         :rules [:v-mode
                 [:p [:swinsian "playpause"]]
                 [:n :volume_decrement]
                 [:m :volume_increment]]}]}
