{:profiles {:goku {:default true}},
 :devices {:ducky [{:vendor_id 1046, :product_id 291}],
           :elecom [{:vendor_id 1390, :product_id 305}]},
 :simlayers {:w-mode {:key :w}},
 :templates {:alfred "osascript -e 'tell application \"Alfred 4\" to run trigger \"%s\" in workflow \"%s\" with argument \"%s\"'",
             :km "osascript -e 'tell application \"Keyboard Maestro Engine\" to do script \"%s\"'",
             :swinsian "osascript -e 'tell application \"Swinsian\" to %s'",
             :open "open \"%s\""},
 :main [{:des "ducky cmd alt",
         :rules [[:##left_command :##left_option [:ducky]]
                 [:##right_command :##right_option [:ducky]]
                 [:##right_option :##right_command [:ducky]]
                 [:##left_option
                  :##left_command
                  [:ducky]
                  {:alone :!Ctab}]]}
        {:des "w mode",
         :rules [:w-mode
                 [:b [:km "open: Safari"]]
                 [:f [:km "open: Firefox Dev"]]
                 [:s [:km "open: Simulator"]]
                 [:m [:km "open: Swinsian"]]
                 [:t [:km "open: Iterm"]]
                 [:g [:km "open: Sublime Merge"]]
                 [:e [:km "open: Sublime Text"]]]}
        {:des "elecom",
         :rules [[:button7 :button3 [:elecom]]
                 [:button6 :button1 [:elecom]]]}]}
